.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background{
  padding-top: 100px;
  width: 100%;
  height: 1000px;
  background-color: black;
}

#principal{
  margin-left: 15%;
  min-width: 700px;
  width: 70%;
  background-color: black;
  border: yellow;
  border-style: double;
}

#menutemporizador{
  display: inline-block;
  color: yellow;
  background-color: black;
  width: 50%;
  border: yellow;
  border-style: double;
}

#menurelogio{
  display: inline-block;
  color: yellow;
  background-color: black;
  width: 50%;
  border: yellow;
  border-style: double;
}

#menucontador{
  display: inline-block;
  color: yellow;
  background-color: black;
  width: 50%;
  border: yellow;
  border-style: double;
}

.navbar{
  color: aqua;
}

.menu{ 
  color: black;

}

.estilo{
  
  color: yellow;
  overflow: hidden;
  
  
  border-style: double; 
  border-color: rgb(255, 251, 0);
  width: 50%;
  height: 50%;

  text-align: center;
  
  margin-left: 25%;
  background-color: black;
  border-radius: 25px;
  border-width: 10px;
  font-family: 'Orbitron';
}

#horas{
  max-width: 300px;
  width: 55%;
  position: relative;
  font-size: 50px;
  display:inline-block;
  padding-right: 0;
  text-align: right;
}

#milisegundos{
  text-align: left;
  width: 25%;
  position: relative;
  padding-right: 0px;
  font-size: 30px;
  display:inline-block;
  color: aqua;
}

#botao{
  background-color: black;
  color: yellow;
  border-style: double;
  border-width: 5px;
  border-color: yellow;
  margin-bottom: 5px;
  
}

#temporizador{
  color: yellow;
  background-color: black;
  width: 100px;
  border: yellow;
  border-style: double;
}


#relogiohoras{
  width: 55%;
  max-width: 280px;
  position: relative;
  font-size: 50px;
  display:inline-block;
  padding-right: 0;
  text-align: right;
}

#relogiosegundos{
  text-align: left;
  width: 25%;
  position: relative;
  padding-right: 0px;
  font-size: 30px;
  display:inline-block;
  color: aqua;
}



.form-control{
  width: 80px;
  display: inline;
  font-size: 30px;
}

.my-title {
  color: yellow;
  position: relative;
  text-align: center;
  font-family: 'Orbitron';
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
