.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar{
  color: aqua;
}

.menu{ 
  color: black;

}

.estilo{
  
  color: yellow;
  overflow: hidden;
  
  
  border-style: double; 
  border-color: rgb(255, 251, 0);
  width: 50%;
  height: 50%;

  text-align: center;
  
  margin-left: 25%;
  background-color: black;
  border-radius: 25px;
  border-width: 15px;
  font-family: 'Orbitron';
}

#horas{
  width: 50%;
  position: relative;
  font-size: 50px;
  display:inline-block;
  padding-right: 0;
  text-align: right;
}

#milisegundos{
  text-align: left;
  width: 25%;
  position: relative;
  padding-right: 0px;
  font-size: 20px;
  display:inline-block;
  color: aqua;
}

#botao{
  
}



.form-control{
  width: 80px;
  display: inline;
  font-size: 30px;
}

.my-title {
  color: brown;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
